{% extends 'base.html' %}

{% block head %}
        Book list
{% endblock %}

{% block content %}
<!--    {{books}}-->
 <table class="table table-danger table-striped">
    <tr>
       <th>ID</th>   <th>Title</th>   <th>Rating</th>
    </tr>

    {% for book in books %}
       <tr>
          <td> <a href="{{book.get_absolute_url}}"> {{book.id}} </a></td>   <td>{{book.title}}</td>
            <td>{{book.rating}}</td>
       </tr>
    {% endfor %}
 </table>


<h1> Information </h1>
    <table class="table">
        <tr>
            <th>Count</th> <td>  {{count}}</td>
        </tr>
        <tr>
            <th>Rating</th> <td>  {{avg_rating.rating__avg}}</td>
        </tr>
    </table>

{% endblock %}